* {
	margin: 0;
	padding: 0;
}

*:not(form *){
	color: whitesmoke;
}

body {
	background-color: dimgray;
}

body > *:not(header) {
	margin: 0.5rem;
}

a {
	display: block;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	
	padding: 0.5rem;
	height: 2.5rem;
	width: calc(100% - 1rem);

	background-color: rebeccapurple;
	font-size: small;
}

header > a {
	margin: 0 0.5rem;
	min-width: fit-content;
}

#upper-right-corner {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
}

#upper-right-corner > a {
	padding: 0.5rem;
	background-color: green;
	margin-left: 1rem;
}

form {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

form > * {
	height: fit-content;
}

.select-part {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.checkbox {
	display: flex;
	align-items: center;
}

.checkbox > * {
	margin: 0 0.25rem;
}

#show-box > h1, #show-box > h2 {
	margin-top: 1rem;
}